<div class="collapse-group period-rating-setting">
  <h3><%= title %></h3>

  <%= simple_form_for @rating, html: {class: 'form form-inline' } do |f|  %>
    <%= f.input :step_id, as: :hidden %>
    <div class='clearfix'>
      <%= f.input :from_date, order: [:day, :month, :year], as: :date %>
    </div>
    <div class='clearfix'>
      <%= f.input :to_date, order: [:day, :month, :year], as: :date %>
    </div>
    <div class='clearfix'>
      <%= f.input :code, label: 'Code (number only)', input_html: { class: 'numeric', maxlength: 2 } %>
    </div>
    <div class='clearfix'>
      <%= f.input :description, as: :text %>
    </div>
    <div class='action'>
      <label></label>
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>

</div>
