<div class="collapse-group period-rating-setting w500">
    <div class="panel-body">
      <div class='period-raing-info'>
        <%= form_tag(sync_period_rating_path(@rating), method: :put, class: 'form') do |f| %>
          <div class='form-group clearfix'>
          <%= label_tag :client_from_date, 'From', class: 'col-sm-3 control-label required' %>
          <span class='col-sm-2'><%= @rating.try(:from_date).try(:to_string) %></span>
        </div>

        <div class='form-group clearfix'>
          <%= label_tag :client_to_date, 'To', class: 'col-sm-3 control-label required' %>
          <span class='col-sm-2'><%= @rating.try(:to_date).try(:to_string) %></span>
        </div>

        <div class='form-group clearfix'>
          <%= label_tag :code, 'Code', class: 'col-sm-3 control-label required' %>
          <span class='col-sm-2'><%= @rating.try(:code) %></span>
        </div>

        <div class='form-group clearfix'>
          <%= label_tag :description, 'Description', class: 'col-sm-3 control-label' %>
          <span class='col-sm-2'><%= @rating.try(:description) %></span>
        </div>


        <div class='form-group clearfix'>
          <%= label_tag 'period_rating[variable_id]', 'Variable', class: 'col-sm-3 control-label' %>
          <div class="col-sm-9">
            <%= select_tag 'period_rating[variable_id]', options_for_select(@variables), prompt: '--- select ---', class: ' form-control' %>
          </div>
        </div>

        <div class='form-group'>
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <%= submit_tag 'Sync', class: 'btn btn-primary' %>
        </div>
        
        <% end %>
      </div>

    </div>
</div>
