<div class='container'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form', method: :put }) do |f| %>
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= devise_error_messages! %>

    <div class="field-block">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control input-lg', autofocus: true, readonly: true, required: true%>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field-block">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, class: 'form-control input-lg', autocomplete: "off" %>
    </div>

    <div class="field-block">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control input-lg', autocomplete: "off" %>
    </div>

    <div class="field-block">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, class: 'form-control input-lg', autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: 'btn btn-primary' %>
      <%= link_to "Back", :back, class: 'button btn btn-default' %>
    </div>
  <% end %>

  <div class='field clearfix' >
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
  </div>

</div>
