<div class="container">
  <div class='row'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-signin'}) do |f| %>

      <h2>Sign up</h2>

      <div class='has-error'>
        <%= devise_error_messages! %>
      </div>

      <div class='<%= "form-group" %>'>
        <%= f.email_field :email, class: 'form-control input-lg', placeholder: 'Email', autofocus: true %>
      </div>

      <div class='<%= "form-group" %>'>
        <%= f.password_field :password, class: 'form-control input-lg', placeholder: 'Password', autocomplete: "off" %>
      </div>

      <div class='<%= "form-group" %>'>
        <%= f.password_field :password_confirmation, class: 'form-control input-lg', placeholder: 'Password confirmation', autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-lg btn-success btn-block' %>
      </div>

      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>

