<div class='title'>
	<h3><%= @step.display_name %></h3>
</div>

<div class='description'>
	<p><%= @step.description %></p>
</div>

<div class='manifest'>
  <strong class='caption'>Url Manifest:</strong>
  <%= link_to @step.url, @step.url %>
</div>

<br />

<% if params[:id] == Step::PERIOD_RATING %>
  <%= render 'project_settings', step: @step %>
<% end %>

<%= render 'table', title: 'inputs', variables: @step.variables.incoming %>
<%= render 'table', title: 'outputs', variables: @step.variables.outgoing %>

<% if params[:id] == Step::DETECT_MOBILE_OPERATOR %>
	<%= render 'operator_codes', step: @step %>
<% elsif params[:id] == Step::PERIOD_RATING %>
	<%= render 'steps/period_ratings/list', step: @step %>
<% end %>
