<div class='title'>
	<h3><%= @step.display_name %></h3>
</div>

<div class='description'>
	<p><%= @step.description %></p>
</div>

<%= render 'table', title: 'inputs', variables: @step.variables.incoming %>
<%= render 'table', title: 'outputs', variables: @step.variables.outgoing %>

<% if params[:id] == Step::DETECT_MOBILE_OPERATOR %>
	<%= render 'operator_codes', step: @step %>
<% elsif params[:id] == Step::ILO_RATING %>
	<%= render 'steps/ilo/ratings', step: @step %>
<% end %>
