<div class='period-rating'>
	<table class="table table-bordered">
		<caption><strong>Period Rating</strong></caption>
	  <thead>
	  	<tr>
	  		<th class='col-sm-1'>Code</th>
	  		<th class='col-sm-2'>From</th>
	  		<th class='col-sm-2'>To</th>
	  		<th class='col-sm-2'>Message Sequence</th>
  			<th class='col-sm-3'>Number</th>
  			<th></th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<% if @ratings.empty? %>
	  		<tr>
	  			<td colspan='6'>No records</td>
	  		</tr>
	  	<% else %>
	  		<% @ratings.each do |rating| %>
		  		<tr>
		  			<td><%= rating.code %></td>
			  		<td><%= rating.from_date.to_string %></td>
			  		<td><%= rating.to_date.to_string %></td>
			  		<td><%= rating.description %></td>
		  			<td><%= rating.numbers.join(PeriodRating::SEPERATOR_DISPLAY) %></td>

		  			<td>
		  				<span><%= link_to 'Edit', edit_period_rating_path(rating), class: 'btn btn-primary btn-xs' %></span>
		  				<span><%= link_to 'Remove', rating, method: :delete, confirm: 'Are you sure you want to delete?', class: 'btn btn-danger btn-xs' %></span>
		  			</td>
			  	</tr>
		  	<% end %>
	  	<% end %>
	  </tbody>
	</table>

	<%= link_to 'New period rating', new_period_rating_path, class: 'btn btn-primary btn-sm' %>
</div>


